.about-main-container{
    padding-top:3em;
    height: 100%;
}

.about-content-container{
    padding-top:3em;
    height: 100%;
}

.about-content-container > div > div > img{
    width: 100%;
    height: 15em;
    margin-top:2em;
}

.about-content-container > div > img{
    width: 100%;
    height: 17em;
    margin-top:-3em;
}

.about-hi-title{
    margin-bottom:1em;
}

@media (min-width: 100px) {  
    #about{
        min-height:110em;
        background:url(../resources/background-pattern.png),
        linear-gradient(to bottom, #3CA55C,#3CA55C,#3CA55C,#3CA55C,#3CA55C,#3CA55C,#636FA4);
    }
    
    .about-content-container > div > div >p{
        margin-right: auto;
        margin-left: auto;
        text-align: center;
     }
     
    .about-mobile{
        display: block;
    }

    .about-large-devices{
        display: none;
    }
}

@media (min-width: 576px) {  
     #about{
        min-height:100em;
    }
}

@media (min-width: 768px) { 
    #about{
        min-height:65em;
    }

    .about-content-container > div > div >p{
        margin-right: 0;
        margin-left: 0;
        text-align: left;
     }
     
    .about-mobile{
        display: none;
    }

    .about-large-devices{
        display: block;
    }
}

@media (min-width: 992px) {  
   #about{
    min-height:55em;
    }
 }