@media (min-width: 300px) {     
    header {
        min-height: 70em;
    }
    
    header > div{
        height: 55em;
    }

    .header-title {
        margin-top:5em;
    }

    .header-title > p{
        margin-top:2em;
    }
    
    .header-profile-image-container > img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-height:500em;
        opacity: 0.7;
        filter: alpha(opacity=70);
        width: 80%;
    }
 }

@media (min-width: 768px) { 
    header {
        min-height: 52em;
    }

    .header-title > p{
        margin-top:5em;
    }
    
    header > div{
        height: 40em;
    }

    .header-title {
        margin-top:14em;
    }

    .header-profile-image-container{
        margin-top:11em;
    }
    
    .header-profile-image-container > img{
        width: 100%;
    }
 }

@media (min-width: 992px) {     
    .header-profile-image-container{
        margin-top:7em;
    }

    .header-profile-image-container > img{
        width: 90%;
    }
 }

 @media (min-width: 1200px) {     
    .header-profile-image-container > img{
      width: 80%;
    }
 }

header{
    background: url(../resources/background-pattern.png), 
    linear-gradient(to bottom, #0082c8, #0082c8, #0082c8, #0082c8, #0082c8, #0082c8, #3CA55C);
    height: 100vh;
}

.header-gradient-background{
    background: linear-gradient(to bottom, #0082C8, #18909B);
}

.header-gradient-background > div > p{
    font-size: 2em;
}

.header-title > h1{
    font-size: 2.2em;
}

.header-title > h2{
    font-size: 2em;
} 
