.nav-link {
    color: white !important;
}

.navbar-brand {
    color: white !important;
}

.navbar-filled-header{  
    background: url(../resources/background-pattern.png), 
    #0082c8;
    opacity: 0.9;
}

.navbar-filled-skills{  
    background: url(../resources/background-pattern.png), 
    #3CA55C;
    opacity: 0.9;
}

.navbar-filled-projects{  
    background: url(../resources/background-pattern.png), 
    #B5AC49;
    opacity: 0.9;
}

@media (min-width: 100px) {  
    .navbar-nav{
        padding:1em;
    }

    .navbar-collapse{
        margin-left: -15px;
        margin-right: -15px;
    }
}

@media (min-width: 576px) {  
    .navbar-nav{
        background-color: transparent;
        padding:0em;
    }
}